/* CSS for Virtueld
    🆇🅴🅻🅵 ©2019 XELF */

body {
    font-family: 'Noto Sans JP', sans-serif;
    margin: 1% 5% 5% 5%;
    line-height: 200%;
    background-color: #FFF6F0;
}

a:link {
    color: #f66b95;
}

a:visited {
    color: #2edc87;
}

a:hover {
    color: #7a3705;
}

a:active {
    color: #ff9123;
}

h1 {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 900;
    font-size: 180%;
    margin: 0% -6% 0% -6%;
    padding: 2px 6% 2px 6%;
    background-color: #FFFFFF;
}

h2 {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 900;
    font-size: 160%;
}

h3 {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 900;
    font-size: 140%;
}

hr {
    border: 1px solid black;
}

.copyright {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 75%;
    color: #333333;
    margin: 0% -6% 0% -6%;
    padding: 2px 6% 2px 6%;
    background-color: #FFFFFF;
}

.note {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 75%;
    color: #883333;
    background-color: #FFEE88;
    margin: 4px;
    padding: 4px 8px 4px 8px;
    border-radius: 4px;
}

.logo {
    margin: 0% 0% 0% 0%;
    padding: 0px 0px;
    width: 100%;
}

.play {
    font-size: 200%;
    background: #cc6a3e;
    border-radius: .25em;
    margin: .5em;
    padding: .25em;
    text-align: center;
}

.banner {
    margin: .5em;
}

code {
    font-family: 'Noto Sans JP', sans-serif;
    border-radius: 4px;
    background: #EECC6644;
    padding: .125em .25em .125em .25em;
}

.toc {
    margin: 0% 0% 0% 0%;
    border: 0px solid red;
    padding: .5em .5em;
    width: 100%;
    background: #ffddcc;
}

    .toc td {
        padding: .25em .25em;
        background: #ffccaa;
        font-weight: 500;
    }

    .toc th {
        text-align: right;
        padding: .25em .25em;
        font-weight: 500;
        font-style: oblique;
    }
